body{
    margin: 0;
    padding: 0;
    background: rgb(2,0,36);
background: linear-gradient(90deg, rgba(2,0,36,1) 0%, rgba(9,9,121,1) 57%, rgba(7,5,136,1) 100%);
}

h1{
    text-align: center;
    text-transform: uppercase;
    color: white;
}

.content{
    display: flex;
    margin-left:20%;
    margin-right:20%;
    max-width: 300px;
    text-align: center;
    align-items: center;
    align-content: center;
}
.box1{
    margin-top: 20px;
    margin-right: 40px;
    margin-bottom: 20px;
    /* margin-left: 40px; */
    height: 400px;
    border: 2px solid;
    border-style: none;
    border-radius: 10px;
    background-color: rgb(63, 3, 97);
    color: white;
}

.box1:hover{
    position: relative;
    margin-top: 20px;
    margin-right: 40px;
    margin-bottom: 20px;
    /* margin-left: 40px; */
    height: 400px;
    top: 5px;
    border: 2px solid;
    border-style: none;
    border-radius: 10px;
    background: rgb(4,0,36);
background: linear-gradient(90deg, rgba(4,0,36,1) 0%, rgba(69,32,133,1) 57%, rgba(125,60,181,1) 100%);
    color: white;
    cursor: pointer;
}

.box2{
     margin: 40px;
    height: 50vh;
    min-height: 350px;
    border: 2px solid gray;
    border-radius: 10px;
    background-color: rgb(63, 3, 97);
    color: white;
    border-style: none;
}

.box2:hover{
    position: relative;
    /* margin: 20px; */
    height: 400px;
    top: 5px;
    border: 2px solid gray;
    border-radius: 10px;
    background: rgb(4,0,36);
background: linear-gradient(90deg, rgba(4,0,36,1) 0%, rgba(69,32,133,1) 57%, rgba(125,60,181,1) 100%);
    color: white;
    border-style: none;
    cursor: pointer;
}

.box3{
    margin: 40px;
    margin-right: -10vh;
    height: 400px;
    border: 2px solid gray;
    border-radius: 10px;
    background-color: rgb(63, 3, 97);
    color: white;
    border-style: none;
}

.box3:hover{
    position: relative;
    top: 5px;
    margin: 40px;
    margin-right: -10vh;
    height: 400px;
    border: 2px solid gray;
    border-radius: 10px;
    background: rgb(4,0,36);
background: linear-gradient(90deg, rgba(4,0,36,1) 0%, rgba(69,32,133,1) 57%, rgba(125,60,181,1) 100%);
    color: white;
    border-style: none;
    cursor: pointer;
}

.content img{
    width: 300px;
    height: 168px;
    border-radius: 10px;
}
.box1 p{
    padding: 10px;
    font-size: 20px;
    padding-top: 20px;
}

.box2 p{
    padding: 10px;
    font-size: 20px;
    padding-top: 20px;
}

.box3 p{
    padding: 10px;
    font-size: 20px;
    padding-top: 20px;
}
